{% extends "layout.html" %}
{% load static %}

{% block content %}
<meta charset="utf-8">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{% static 'todo_app/images/side_img.jpg' %}" class="img_top">
            <p class = "menu_name"><strong>Todo List</strong></p>
        </div>
    </div>
    <div class="row">
            <div class="col-md-8 my-3">
                <h3>{{ title }}</h3>
                <div>
                    <div>
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input
                                value="저장"
                                type="submit">
                            <input
                                value="닫기"
                                type="button"
                                onclick="location.href='{% url "todo_app:index" %}';">
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script src=https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js></script>
{% endblock %}

