{% extends 'blog/layout.html' %}
{% load static %}
{% block head_title %}
    Blog - {{ post.title }}
{% endblock %}

{% block content %}
    <article>
        <h1 class="fw-bolder mt-5 mb-1">{{ post.title }}</h1>
        <div class="text-muted fst-italic mb-2">{{ post.updated_at }}</div>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
        <figure class="mt-4 mb-4">
        {% if post.head_image %}
            <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} image" /></figure>
        {% else %}
             <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/900/300" alt="random_image" /></a>
        {% endif %}
        <section class="mt-4 mb-5">
            <p class="fs-5 mb-4">{{ post.content }}</p>
        </section>
        {% if post.file_upload %}
            <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>
                Download:

                {% if post.get_file_ext == 'csv' %}
                    <i class="fas fa-file-csv"></i>
                {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                    <i class="fas fa-file-excel"></i>
                {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                    <i class="fas fa-file-word"></i>
                {% else %}
                    <i class="fas fa-file"></i>
                {% endif %}
                {{ post.get_file_name }}
            </a>
        {% endif %}
    </article>
 {% endblock %}

