{% extends 'layout.html' %}

{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="detail-card">
        <div class="detail-image">
            <img
    src="{% static 'travel_page/images/' %}{{ detail.file|default:'default.jpg' }}"
    alt="{{ detail.name }}"
>
        </div>
        <div class="detail-info">
            <h1 class="detail-title">{{ detail.title }}</h1>
            <p class="detail-description">{{ detail.description }}</p>
        </div>
    </div>
</div>
{% endblock %}