html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 56px;
}

aside {
  position: absolute;
  left : 300px;
  text-align: center;
}

.navbar-brand {
  font-size : 35px;
  font-weight : bold;
  letter-spacing: -2px;
}

.nav-link{
  font-size : 20px;
}


.menu_name{
  position: absolute;
  font-size : 80px;
  top : 30%;
  left : 5%
}

.btn {
  background-color: skyblue;
  width : 7%;
  border : 2px;
  border-radius: 10%;
  border-style : dashed;
}

.idx_img {
  position: relative;
  width : 100%;
  height : 510.5px;
}

.img_top {
  position: relative;
  width :100%;
  margin-left : 0;
  height : 300px;
  opacity: 40%;
}

.homepage_icon {
  position: fixed;
  margin-top : 50px;
  left : 700px
}

.github_icon {
  position: fixed;
  margin-top : 50px;
  margin-left : 1100px
}

.result {
  color : red;
}

