{% extends 'layout.html' %}
{% load static %}
{% block head_title %}
    Blog - {{ post.title }}
{% endblock %}

{% block content %}
    <article>
        <a href="{% url 'community:post_list' %}" class="btn btn-secondary mb-3"><i class="fas fa-arrow-left"></i> 뒤로가기</a>
        <h1 class="fw-bolder mt-5">{{ post.title }}</h1>
        <div id="post=area">
            {% if post.category %}
                <span class="badge bg-secondary float-right">{{ post.category }}</span>
            {% else %}
                <span class="badge bg-secondary float-right">미분류</span>
            {% endif %}

            {% if post.tags.exists %}
                <i class="fas fa-tags"></i>
                {% for tag in post.tags.iterator %}
                    <a href="{{ tag.get_absolute_url }}"><span class="badge bg-pill bg-light text-black">{{ tag }}</span></a>
                {% endfor %}
                <br/>
                <br/>
            {% endif %}
        </div>
        <p class="lead">
            by
            <a href="#">{{ post.author | upper }}</a>
        </p>
        <div class="text-muted fst-italic mb-2">
            <hr>
            {% if user.is_authenticated and user == post.author %}
                <a class="btn btn-info btn-sm float-end" href="../update_post/{{ post.pk }}/" role="button"><i class="fas fa-pen"></i> Edit Post</a>
            {% endif %}
            {{ post.updated_at }}
            <hr>
        </div>
        <figure class="mt-4 mb-4">
        {% if post.head_image %}
            <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} image" /></figure>
        {% else %}
             <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/900/300" alt="random_image" /></a>
        {% endif %}
        <section class="mt-4 mb-5">
            <p class="fs-5 mb-4">{{ post.content }}</p>
        </section>
        {% if post.file_upload %}
            <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>
                Download:

                {% if post.get_file_ext == 'csv' %}
                    <i class="fas fa-file-csv"></i>
                {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                    <i class="fas fa-file-excel"></i>
                {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                    <i class="fas fa-file-word"></i>
                {% else %}
                    <i class="fas fa-file"></i>
                {% endif %}
                {{ post.get_file_name }}
            </a>
        {% endif %}
    </article>
 {% endblock %}

