{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="swiper-container">
        <div class="swiper-wrapper">
            {% for image in images %}
            <div class="swiper-slide">
                <p>여행지 추천</p>
                <div class="slide-content">
                    <div class="slide-text">
                        <h3>{{ image.title }}</h3>
                        <p>{{ image.description }}</p>
                        <a href="#" class="btn">자세히 보기</a>
                    </div>
                    <img src="{% static 'travel_page/images/jeonju.png' %}" alt="{{ image.alt }}">
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Navigation buttons -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

<div class="button-container">
  <div class="button-container">
        {% for option in options %}
        <div class="option-card" onclick="location.href='{{ option.link }}';">
            <img src="{% static 'travel_page/images/jeonju.png' %}" alt="{{ option.name }}">
          <div class="option-text">{{ option.name }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}