{% extends 'layout.html' %}
{% load static %}

{% block content %}
<div class="button-container">
  {% for region in regions %}
    <div class="region-card" onclick="location.href='{{ region.link }}';">
            <img src="{% static 'travel_page/images/jeonju.png' %}" alt="{{ region.name }}">
            <div class="region-text">{{ region.name }}</div>
    </div>
<!--    {% for category, items in categories.items %}-->
<!--    <div class="category-section">-->
<!--        <h2>{{ category }}</h2>-->
<!--        <ul>-->
<!--            {% for item in items %}-->
<!--            <li>{{ item }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--    </div>-->
<!--    {% endfor %}-->

    <a href="/" style="text-decoration: none; color: #007bff;">← 돌아가기</a>

{% endblock %}