{% extends 'layout.html' %}
{% load static %}

{% block content %}
<meta charset="utf-8">
<div class="container-fluid">
        <div class="row">
                <div class="col">
                        <img src="{% static 'single_pages/images/side_img.jpg' %}" class="img_top">
                        <p class = "menu_name"><strong>Blog</strong></p>
                </div>
        </div>
        <div class="row">
            <div class="col-md-8 my-3">
                {% if posts|length > 0 %}
                    {% for post in posts %}
                    <hr>
                <a class="h2"><strong>{{ post.title }}</strong></a>
                    <p class="text-justify">{{ post.content }}</p>
                    {% endfor %}
                {% else %}
                    <p>아직 작성하지 않았습니다.</p>
                {% endif %}
            </div>
            <aside class="col-md-2 my-5 d-flex flex-column">
                <h3><strong>[목차]</strong></h3>
                <ul class="list-group">
                    {% for post in posts %}
                    <li class="list-group-item"><strong>{{ post.title }}</strong><br>{{ post.content }}</li>
                    {% endfor %}
                </ul>
            </aside>
      </div>
</div>
{% endblock %}

{% block scripts %}
  <script src=https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js></script>
{% endblock %}

