{% extends './layout.html' %}
{% load static %}

{% block content %}
<meta charset="utf-8">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{% static 'blog/images/side_img.jpg' %}" class="img_top">
            <p class = "menu_name"><strong>Community</strong></p>
        </div>
    </div>
    <title>{{ post.title }} - Community</title>
    <div class="row">
        <div class="col-md-8 my-3">
            <nav>
                <h2><a href="/blog/" class="btn">이전</a></h2>
            </nav>
            <h1>{{ post.title }}</h1>
            <h4>{{ post.created_at }}</h4>
            <p>{{ post.content|linebreaksbr }}</p>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
  <script src=https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js></script>
{% endblock %}
