<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">-->
<nav id="navmenu" class="navmenu" fixed-top>
    <ul>
        <li><a class="dropdown-title" href="{% url 'travel_page:index' %}">전라도 Travel</a></li>
        <li><a href="{% url 'travel_page:region' %}">여행지</a></li>
        <li><a href="{% url 'todo_app:todo_list' %}">체크리스트</a></li>
<!--        <li class="dropdown"><a href="travel.html"><span>여행계획</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="travel.html">준비물 리스트</a></li>-->
<!--              <li><a href="travel.html">캘린더</a></li>-->
<!--            </ul>-->
<!--        </li>-->
        <li><a href="{% url 'community:post_list' %}">커뮤니티</a></li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
</nav>